<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
             <form th:action="@{/process}" method="post" th:object="${loginData}">
                <h1 class="text-centre">Signup Here</h1>
                    <div class="form-group">
                        <label for="UserName"  id="userName" >Username</label>
                        <input type="text" 
                         name="userName"
                          class="form-control" 
                          th:value="${loginData.userName}"
                          
                          th:classappend="${#fields.hasErrors('userName')?'is-invalid':''}"
                             required>
                        <div id="validationServerFeedback" class="invalid-feedback" th:each="e:${#fields.errors('userName')}" th:text="${e}">
 						 
						</div>
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="email" id="email">Email</label>
                       <input type="email" name="email" class="form-control" id="email" th:value="${loginData.email}" th:classappend="${#fields.hasErrors('email')?'is-invalid':''}" required>
                        <div id="validationServerFeedback" class="invalid-feedback"th:each="e:${#fields.errors('email')}" th:text="${e}"></div>
                        
                      
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="check" name="agreed"  th:classappend="${#fields.hasErrors('agreed')?'is-invalid':''}">
                        <div id="validationServerFeedback" class="invalid-feedback" th:each="e:${#fields.errors('userName')}" th:text="${e}">
 						
						</div>
                        <label class="form-check-label" for="check">Agree terms and conditions</label>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>